.products{
    .product-item{
        display:block;
        cursor:pointer;
        &:hover{
            background-color:lightcoral;
            transition: all ease-in .2s;
        }
    }

}

.carousel{
    height:200px;
}